@import "../../../styles/settings.scss";

.wrapper {
  padding: 20px 40px;
  max-width: 650px;
  display: flex;
  margin: 0 auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  padding: 0 20px;
  p {
    text-align: justify;
  }
}
@media (max-width: 576px) {
  .wrapper {
    flex-direction: column;
  }

  .gallery {
    width: 100%;
    margin: 0 auto;
  }
}
