@import "../../../styles/settings.scss";

.component {
  background: $color-supplemental;
  border: none;
  color: $color-text;
  font-size: 1rem;
  line-height: 1.3;
  padding: 0.4rem;
  width: 55px;
  cursor: pointer;
  font-weight: 900;
  transition: $transition-all;
  outline: none;

  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}
