@import "../../../styles/settings.scss";

.root {
  border-radius: 2px;
  background-color: $color-supplemental;
  margin: 20px 10px;
  transition: $transition-transform;

  &:hover {
    transform: translate(-3px, 3px);
  }

  h3 {
    font-size: 1.1rem;
    margin: 0;
  }

  img {
    object-fit: cover;
    overflow: hidden;
    height: 250px;
    width: 100%;
  }

  a,
  a:hover {
    font-weight: 600;
    text-decoration: none;
  }

  span {
    opacity: 0.7;
  }
}

button {
  float: right;
  margin: 10px;
}
