@import "../../../styles/settings.scss";

.root {
  background-color: hsla(0, 0%, 13%, 0.4);
  width: 100vw;
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0;
  display: none;
  margin-right: 150px;
}

.expanded {
  transition: $transition-all;
  margin-right: 0;
  display: block;
}

.cart {
  position: absolute;
  height: 100%;
  width: 450px;
  right: 0;
  border-bottom: 1px solid $color-decorator;
  transition: $transition-transform;
  background-color: $color-background;
  padding: 40px 20px;
}

.items {
  height: 60vh;
  overflow: scroll;
}

p {
  color: $color-decorator;
  font-size: 0.8rem;
  font-weight: 700;
}

.summary {
  & > div {
    display: flex;
    justify-content: space-between;
    span {
      padding: 3px 0;
      font-size: 0.8rem;
      color: $color-text;
    }
  }
}

.link {
  display: block;
  color: $color-light;
  padding: 10px 15px;
  background-color: $color-decorator;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  text-decoration: none;
  margin: 15px 5px 10px 0;
  float: right;
  &:hover {
    background-color: lighten($color-decorator, 5%);
  }
}

@media (max-width: 576px) {
  .cart {
    width: 100vw;
  }
}
