@import "../../../styles/settings.scss";

.root {
  width: 250px;
  position: absolute;
  left: 50px;
  top: 250px;
}

.head {
  height: 40px;
}
.expand {
  transform: rotate(0deg);
  margin-left: auto;
  transition: $transition-rotate;
}

.expandOpen {
  transform: rotate(180deg);
}

.items {
  padding: 5px;
}

.summary {
  display: flex;
  justify-content: space-between;
  span {
    padding: 3px 7px;
    font-size: 0.8rem;
  }
}
