@import "../../../styles/settings.scss";

.cartlink {
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  span {
    color: lighten($color: $color-text, $amount: 30%);
    font-weight: 100;
    padding-right: 15px;
  }
  button {
    margin: 0;
  }
}

.root {
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
  width: 100vw;
  left: 0;
  display: none;
}

.background {
  background-color: transparentize($color: $color-text, $amount: 0.3);
  height: 100%;
  width: calc(100% - 450px);
}

.expanded {
  transition: $transition-all;
  margin-right: 0;
  display: flex;
  animation: viewsFromRight 0.5 ease;
}

.cart {
  height: 100%;
  width: 450px;
  transition: $transition-transform;
  background-color: $color-supplemental;
  padding: 40px 20px;
  box-shadow: 0px 2px 4px 0px $color-text;
}

.items {
  height: 60%;
  overflow: auto;
}

.summary {
  margin-bottom: 20px;
  p {
    color: $color-text;
    font: 700 1.1rem $font-supplemental;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid $color-text;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    span {
      padding: 3px 0;
      font-size: 0.9rem;
      color: $color-text;
      letter-spacing: 0.1rem;
    }
  }
}

@media (max-width: 768px) {
  .cartlink {
    span {
      padding-right: 15px;
    }
  }
}

@media (max-width: 576px) {
  .cart {
    width: 100vw;
  }
}
