@import "../../../styles/settings.scss";

.root {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 2px 0;
  border-bottom: 1px solid $color-supplemental;
  span {
    padding: 0 10px;
    float: right;
  }
  small {
    opacity: 0.6;
  }
}

.image {
  height: 100%;
  width: 40px;
  overflow: hidden;
  img {
    transform: scale(2);
    object-fit: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.productData {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
}
