@import "../../../styles/settings.scss";

.root {
  position: relative;
  background: url("../../../images/header_45nH84vrs8.jpg") no-repeat center;
  height: 40vh;
}

h1 {
  color: $color-light;
  font-size: 3rem;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  font-family: $font-decorator;
}
