@import "../../../styles/settings.scss";

.root {
  position: relative;
  background: url("../../../images/header_46sh2j5sg3.jpeg") center top no-repeat fixed;
  background-size: 100% auto;
  height: 40vh;
}

h1 {
  color: $color-light;
  font-size: 3rem;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  font-family: $font-decorator;
}
