@import "../../../styles/settings.scss";

.component {
  background: $color-supplemental;
  border: 3px solid $color-text;
  color: $color-light;
  text-align: center;
  line-height: 1.3;
  padding: 1rem;
  margin: $base-size;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  transition: $transition-all;
  outline: none;

  a {
    text-decoration: none;
    letter-spacing: 0.3rem;
  }

  &:hover {
    background: $color-text;
    color: $color-supplemental;
  }

  &.fab {
    background: none;
    border-radius: 50%;
    background: none;
    border: 0;
    padding: 0.5rem;
    display: inline-block;
  }
}
