@import "../../../styles/settings.scss";

.root {
  position: fixed;
  // background-color: rgba(255, 255, 255, 0.849);
  background-color: $color-supplemental;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.expanded {
  // background-color: rgba(255, 255, 255, 0.849);
  background-color: $color-supplemental;
}

.navLinkList {
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  list-style: none;
  width: calc(100% - 140px);
}

.mobileOnly {
  flex-direction: column;
  left: 0;
  // background-color: rgba(255, 255, 255, 0.849);
  background-color: $color-supplemental;

  position: fixed;
  width: 100vw;
  top: 0;
  transition: $transition-all;
  display: none;

  .navlink {
    padding: 10px 20px;
  }
}

.expandMenu {
  display: flex;
  top: 60px;
  padding: 20px 0;
}

.navlink {
  padding: 0 30px;
  text-decoration: none;
  font-weight: 200;
  color: $color-text;
  letter-spacing: 0.4rem;
  &:hover {
    color: $color-danger;
  }
}

@media (max-width: 768px) {
  .navlink {
    padding: 0 15px;
  }
}
