$transition-transform: transform 0.5s ease;
$transition-all: all 0.5s ease;

$font-decorator: "Homemade Apple", cursive;
$font-text: "Roboto", sans-serif;

$color-light: #fff;
$color-background: #fffde7;
$color-border: #fff9c4;
$color-decorator: #a72456;
$color-supplemental: #fafafa;
$color-text: #212121;

$base-size: 10px;

@keyframes viewsFromRight {
  0% {
    margin-left: 150px;
  }
  100% {
    margin-left: 0;
  }
}
