$transition-transform: transform 0.5s ease;
$transition-rotate: transform 0.3s ease;

$font-decorator: "Homemade Apple", cursive;
$font-text: "Roboto", sans-serif;

$color-light: #fff;

$base-size: 10px;
