$transition-transform: transform 0.5s ease;
$transition-all: all 0.5s ease;

$font-text: "Open Sans Condensed", sans-serif;
$font-supplemental: "Lora", serif;
$font-decorator: "Amatic SC", cursive;

$color-light: #fff;
$color-border: #757575;
$color-background: #fffde7;
$color-success: #8bc34a;
$color-danger: #a72456;
$color-neutral: #01579b;
$color-supplemental: #fafafa;
$color-text: #212121;

$base-size: 10px;

@keyframes viewsFromRight {
  0% {
    margin-left: 150px;
  }
  100% {
    margin-left: 0;
  }
}
